<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>All cocktails</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4><%= link_to 'Home', root_path %></h4>
    </div>
  </div>

  <% @cocktails.each_slice(3) do |cocktails| %>
    <div class="row">
      <% cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-4">
          <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
          <p><%= truncate(cocktail.description, :length => 70) %></p>
          <p><%= truncate(cocktail.recipe, :length => 70) %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
