<div class="banner">
  <div class="banner-content">
    <div>
      <%= link_to root_path do %>
        <%= image_tag "shaker-logo-big.png", class: "banner-big-logo"%>
      <% end %>
    </div>
    <div style="margin-top: 30px;">
      <%= link_to 'All the cocktails', cocktails_path, class: "btn-transparent" %>
    </div>
  </div>
  <div class="banner-down-arrow">
    <a href="#banner-arrow" id="banner-arrow">
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</div>

