<div class="banner">
  <div class="banner-content">
    <h1>Cocktail list</h1>
    <p>Only the best</p>
    <%= link_to 'All the cocktails', cocktails_path, class: "btn btn-primary" %>
  </div>
</div>
