<div class='home-header'>
  <%= render 'navbar-home' %>
  <%= render 'banner' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 style="color: #F5FDF7;">Latest cocktails</h2>
    </div>
  </div>

  <div class="row">
    <%= render "components/card" %>
  </div>
</div>


<script>
  $(document).on('click', '#banner-arrow', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
  });
</script>
