<div class="container">
  <div class="row">
    <h1>Hello world !</h1>
  </div>

  <h3><%= link_to 'All cocktails', cocktails_path %></h3>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-4">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  </div>
</div>
