<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/Tmarce30">
      <i class="fab fa-github"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/thibaud-marc%C3%A9/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> Tibaud Marcé
  </div>
</div>
